# Python
venv/
__pycache__/
*.pyc
.env

# Airflow runtime
airflow/logs/
airflow/*.db
airflow/airflow.cfg

# Data
airflow/data/raw/
airflow/data/processed/

# Generic artifacts
*.csv
*.json
*.zip

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/